extends ../layouts/main

block pageInfo
  -
    page = {
      name: 'home',
      title: 'Главная страница',
      appTitle: 'Главная страница',
      description: 'Lorem ipsum dolor sit amet'
    }

block content