head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, minimal-ui')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')

  meta(name='imagetoolbar' content='no')
  meta(name='msthemecompatible' content='no')
  meta(name='cleartype' content='on')
  meta(name='HandheldFriendly' content='True')
  meta(name='google' value='notranslate')

  link(rel='shortcut icon' type='image/png' href='favicon.png')

  meta(name='description' content='#{page.description}')
  meta(name='keywords' content='')
  meta(name='apple-mobile-web-app-title' content='#{page.appTitle}')

  title #{page.title}

  link(href='css/main.min.css' rel='stylesheet')
